:root {
  --primary-color: #0084fd;
  --secondary-color: #b5ddff;
  --purple: #9792e4;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

/* GRID */

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  padding: 15px;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-1-2 {
  width: 50%;
}

/* HEADER */

#header {
  background-color: var(--primary-color);
  color: white;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

#header .container .logo,
#header .container nav {
  /* debug */
  background-color: var(--secondary-color);
  padding: 25px;
}

/* MAIN */

/* SECTION DEMO APP */

#demo-app {
  margin: 40px 0;
}

#demo-app .card {
  background-color: var(--secondary-color);
  padding: 1rem;
  height: 100%;
}

#demo-app .col-2-3 .card {
  display: flex;
  flex: wrap;
}

#demo-app .card-left,
#demo-app .card-right {
  width: 50%;
}

/* SECTION PLANNING */

#planning {
  background-color: var(--purple);
  margin: 40px 0;
}

#planning .strategic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#planning .card-right {
  align-self: flex-end;
  background-color: white;
  margin-bottom: 1rem;
  padding: 25px;
  border-radius: 5%;

  /* debug */
  height: 50px;
}

#planning .card-left {
  color: white;
  padding: 25px;

  /* debug */
  height: 90px;
  background-color: purple;
}

/* SECTION TESTIMONIALS */

#testimonials {
  margin: 40px 0;
}

#testimonials .container {
  text-align: center;
}

#testimonials .text {
  margin-bottom: 40px;
}

#testimonials .card {
  background-color: var(--purple);
  color: white;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 15px;

  /* debug */
  height: 100px;
}

/* SECTION WORK W US */

#work-w-us {
  background-color: var(--purple);
}

#work-w-us .container {
  color: white;
  text-align: center;
}

#work-w-us .card {
  display: flex;
  padding: 1rem;

  /* debug */
  background-color: black;
}
