:root {
  --primary-color: #0084fd;
  --secondary-color: #b5ddff;
  --purple: #9792e4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* UTILS */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="card"] {
  border-radius: 40px;
}

p {
  line-height: 30px;
}

/* GRID */

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  padding: 15px;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-1-2 {
  width: 50%;
}

/* HEADER */

#header {
  background-color: var(--primary-color);
  color: white;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

#header a {
  color: inherit;
  text-decoration: none;
}

#header .container .logo,
#header .container nav {
  padding: 15px;

  /* debug */
  /* background-color: var(--secondary-color); */
}

#header .container nav {
  display: flex;
  justify-content: center;
}

#header #icon {
  display: none;
  padding: 25px;
}

#header li {
  font-size: 18px;
}

#header button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

/* MAIN */

/* SECTION DEMO APP */

#demo-app {
  margin: 40px 0;
}

#demo-app button {
  border: none;
  padding: 10px 50px;
  color: white;
  background: var(--primary-color);
  border-radius: 30px;
  font-size: 20px;
}

#demo-app .col-1-3 .card {
  background-color: var(--secondary-color);
  padding: 1rem;
  height: 100%;
  text-align: center;
}

#demo-app .col-2-3 .card {
  display: flex;
  align-items: stretch;
  background-color: var(--secondary-color);
  padding: 2rem;
  height: 100%;
}

#demo-app .card-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#demo-app .card-right img {
  position: relative;
  top: 2rem;
  width: 60%;
}

#demo-app .card-left,
#demo-app .card-right {
  width: 50%;
}

#demo-app .card > i {
  font-size: 70px;
  margin: 60px 0;
}

#demo-app .card > i,
#demo-app .card h2 {
  color: var(--primary-color);
}

#demo-app .card p {
  margin: 40px 0;
}

/* SECTION PLANNING */

#planning {
  background-color: var(--purple);
  margin: 40px 0;
}

#planning .row {
  align-items: flex-end;
}

#planning .row > .col-1-2 {
  color: white;
}

#planning .card {
  padding: 1rem;
  background-color: white;
  color: #353535;
  text-align: center;
  width: 60%;
}

#planning img {
  width: 70%;
}

/* SECTION TESTIMONIALS */

#testimonials {
  margin: 40px 0;
}

#testimonials .container {
  text-align: center;
}

#testimonials .text {
  margin-bottom: 40px;
}

#testimonials .card {
  background-color: var(--purple);
  color: white;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 15px;

  /* debug */
  height: 100px;
}

/* SECTION WORK W US */

#work-w-us {
  background-color: var(--purple);
  margin: 40px 0;
}

#work-w-us .container {
  color: white;
  text-align: center;
}

#work-w-us .card {
  display: flex;
  padding: 1rem;

  /* debug */
  background-color: black;
}

/* SECTION ABOUT US */

#about-us {
  margin: 40px 0;
}

#about-us .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about-us .content .text {
  width: 60%;
}

#about-us .content .img {
  width: 30%;
}

/* SECTION GET STARTED */

#get-started {
  background-color: var(--purple);
  color: white;
  /* margin: 40px 0; */
}

#get-started .container {
  text-align: center;
}

/* END OF MAIN */

/* FOOTER */

#footer {
  background-color: #333333;
  color: white;
}

#footer .container {
  text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  /* HEADER */
  #header nav,
  #header nav > ul {
    display: none;
  }

  #header #icon,
  #header .container .logo {
    display: flex;
    align-items: center;
    /* padding: 15px; */
  }

  /* SECTION PLANNING */

  #planning .strategic {
    flex-direction: column;
  }

  #planning .card-right {
    align-self: auto;
    margin-top: 1rem;
  }

  #planning .card-left {
    margin-top: 1rem;
  }

  /* SECTION WORK W US */

  #work-w-us .col-1-3 {
    width: 50%;
  }
}

@media screen and (max-width: 570px) {
  /* RESET COLUMNS */

  .row {
    flex-direction: column;
  }

  [class*="col"] {
    width: 100%;
  }

  /* DEMO APP */

  #demo-app .col-2-3 .card {
    flex-direction: column;
  }

  /* WORK WITH US */

  #work-w-us .col-1-3 {
    width: 100%;
  }

  /* ABOUT US */

  #about-us .content {
    flex-direction: column;
    align-items: flex-start;
  }

  #about-us .content .text,
  #about-us .content .img {
    width: auto;
  }
}
